<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Library</title>
    </head>
    <body class="bg-light text-dark">
        <%- include('./partials/Navbar') %>
        <div class="container mt-4 w-50">
            <% if (locals.error) { %>
                <div class="alert alert-danger"><%= error %></div>
             
            <% } %>
            <form action="/book" method="post" enctype="multipart/form-data">
                <%- include('./partials/forminput') %>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
 
            </form>
        </div>
        <%- include('./partials/script.ejs') %>
    </body>
</html>